body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0;
}

div {
  width: 10rem;
  height: 10rem;
  border: 2px solid black;
  text-align: center;
  font-size: 5rem;
}

div:hover {
  cursor: pointer;
}
